html {
    font: 17px Verdana;
}

.list {
    font: Verdana;
    font-size: 15px;
}

.listtitle {

    font-size: 20px

}

.title {

    font-size: 30px;
}

#smalltitle {
    font-size: 25px
}

body {

    color:787878;
    background-color:#0D0D0D;
}