:root {
    --font-color: 255, 255, 255;
    --text-shadow: 2px 3px 5px rgb(0, 0, 0);
    --primary-color: #232e35; 

}

*, *::selection, *::-moz-selection {
    user-select: none;
}

@keyframes slidein {

    from {

    }
    to {
        filter: blur(0);
        transform: translateX(0);

    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein-reverse {

    from {

    }
    to {
        filter: blur(15px);
        transform: translateX(-200%);

    }

}

@keyframes textreveal {
    from {
        opacity: 0;
        filter: blur(5rem);
    }
    to {
        opacity: 1;
    }
}

@keyframes openhr {
    from {
        transform: scaleX(0);

    }
    to {
        transform: scaleX(1);
  }
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }


@keyframes scaleXY { /* lets go, figured out padding needs to be animated too */
    0% {
        height: 0px;
        width: 0vw;

    }
    40% {
        height: 0vh;
        width: 70vw;
        padding: 0;

    }
    100% {
        height: 70vh;
        width: 70vw;
        padding: clamp(30px, 70px, 100px);

    }
}


html {
    font-size: 16px;


}



body { 
    margin: 0;
    background: var(--primary-color); /*rgb(162, 201, 240);*/
    /*rgb(41, 42, 43);*/
    font-family: 'Noto Sans SC', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    font-smooth: always;

}



.container {
    display: flex;

}
#landingpagecontainer {
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: clamp(5px, 7vw, 50px);


}

.Portrait img {
    z-index: 2;
    filter: blur(1.5vw);
    transform: translateX(-400%);
    height: clamp(100px, 21.5vw, 500px);
    animation: 3s ease forwards 0s 1 slidein; 
    border-radius: 100%;
    border: solid rgb(255, 255, 255) .2vw;
    transition: height .1s ease;
    
}




.titletext {
    color: rgb(var(--font-color));
    font-size: 3.5rem;
    text-shadow: var(--text-shadow);
    /*text-align: center;*/

}
#hey {
    transform: translateX(-200%);
    font-size: clamp(.5em,4vw,6em);
    animation: 3s ease forwards 0s 1 slidein;
    transition: filter 1s ease;
}

#myname {
    transform: translateX(-200%);
    font-size: clamp(.5em,4vw,6em);
    animation: 3s ease forwards 1s 1 slidein;
}

#description {
    text-align: left;
    transform: translateX(-200%);
    max-width: 45vw;
    font-size: 2.5vw;
    animation: 4s ease forwards 1s 1 slidein;
}

#my-projects-container {
    color: rgb(var(--font-color));
    text-shadow: var(--text-shadow);
    margin: 0 auto;
    width: clamp(75vw, 60vw, 1000px);
    border-radius: 3%;
    flex-direction: row;
    padding: 2vw;
    justify-content: center;
    align-items: center;
}


#my-projects-title {
    text-align: center;
    flex: 100%;
    padding: 1em;
}

#my-projects-container {
    flex-wrap: wrap;
    gap: 1em;
    border: 3em;

}

.project-card-popup {
    overflow: hidden;   
    height: 0;
    width: 0;
    position: absolute;
    backdrop-filter: blur(7px);
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    box-shadow: rgba(255, 255, 255, .1) 0px 3px 6px, rgba(240, 13, 13, 0.23) 0px 3px 6px;
    border-radius: 0;
    border: solid .02px rgba(107, 148, 169, 0.648);
    animation: 2s cubic-bezier(.76,0,.29,1) forwards scaleXY;

}


.project-card-popup .title {
    font-size: clamp(1rem, 3rem,5rem);
    text-align:center;
    transform: translateX(-300%);
    filter: blur(10px);
    animation: 3s ease forwards 2s slidein;
    padding: clamp(20px, 40px, 50px) 0px clamp(20px, 40px, 50px)  0px;
}

.project-card-popup .project-description{
    display: block;
    transform: translateX(-100%);
    filter: blur(10px);
    font-size: clamp(1rem,1.5rem,3rem);
    padding: clamp(10px, 20px,30px) 0px clamp(10px, 20px,30px) 0px;
    animation: 3s ease forwards 3s slidein;

}

.project-card {
    backdrop-filter: blur(10px);
    justify-content: center;
    text-overflow: ellipsis;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    aspect-ratio: 10/12;
    width: clamp(5em,15rem,20rem);
    background-color: rgba(125, 125, 125, .2);
    box-shadow: rgba(255, 255, 255, .1) 0px 3px 6px, rgba(240, 13, 13, 0.23) 0px 3px 6px;
    border-radius: 5%;
    border: solid .02px rgba(194, 194, 194, 0.9);
    transition: background-color .5s ease;
    transition: transform .5s ease;
}

.project-card-clicked {
    transform: scale(.8);
    color: blue;

}

.project-card:hover {
    transform: scale(1.2);
    filter: blur(0);
    box-shadow: rgba(255, 255, 255, .5) 0px 3px 6px, rgba(240, 13, 13, 0.23) 0px 3px 6px;
    cursor: pointer;

}

.project-title {
    padding: .5 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: clamp(1.5rem,2rem,3rem);
    
}

.project-image {
    opacity: .25;
}


.project-description {
    display: none;
}
.project-extended-description{
    display: none;
}

.extended-description {
    transform: translateX(-200%);
    filter: blur(10px);
    animation: 3s ease forwards 3s slidein;
    font-size: clamp(1rem, 1.3rem, 3rem);
    padding: clamp(10px, 20px,30px) 0px clamp(10px, 20px,30px) 0px;
}

.popup-Project {
    display:none;
}


#funfacts-container {
    color: rgb(var(--font-color));
    margin-left: 10vw;
    margin-top: 15vh;
    flex-direction: column;
    padding: 1vw;
    text-shadow: var(--text-shadow);
    
}

.funfact-item { 
    font-size: 2em;
    margin-left: 1.2vw;
    padding: 1vw;
    opacity: 0;
    transition: all 1s ease;
}


/* specific class stuff */
hr {
    transform-origin: left;
    transform: scaleX(0);
    border: none;
    height: 2px;
    background-color: rgb(245, 244, 244);
    animation: 2s cubic-bezier(.14,.03,.26,1.01) forwards 4s 1 openhr;
}

.fa-xmark {
    position: absolute;
    display: none;
    opacity: 0; /*display: none; doesn't work for these items*/
    transition: all 1s ;

} 

.fa-xmark:hover{
    cursor: pointer;
    transform: scale(1.3);

}

.fa-xmark-clicked{
    display: block;
    opacity: 1;
}

a {
    font-style: italic;
}
ul {
    list-style: none;
    padding: 0;
  }
  
li:before {
    content: "- ";
}

