#webpage {
    text-shadow: .5px .5px 15px #E6BBAD;
    font: 17px Verdana;
    background-image: radial-gradient(circle,#BBADE6 , #ADBCE6 , #ffffff );
}

hr {
    border-top: 1px solid #ADBCE6;
}

#contactinfo {
    font-size: 18px
}

.list {
    font: Verdana;
    font-size: 18px;
}

.listtitle {
    margin-left: 20px;
    font-size: 20px;
    font-weight:bold;
}

.title {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-top: 200px;
    padding: 20px;
    border: 2px solid black;
    border-radius:25px;
    background-color:#add8e6;
    font-size: 30px;
    text-shadow: 1px 1px px black;
    text-align:center;
    box-shadow: 1px 1px 25px;
}

.box {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 35px;
    background-color: #add8e6;
    box-shadow: 10px 10px 25px;

}


#smalltitle {
    font-size: 23px
}

body {
    color:black;
    background-color:white;
}

a:link{
    text-decoration: none;
    font: italic;
    font-weight: bold;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color:darkblue;
    font-size: 22px;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

div:hover {
    font-size: 16px;
    text-decoration: bold;
}

div.listtitle:hover {
    font-size: 22px;
}

div.title:hover {
    font-size: 40px;
    text-decoration: bold;
    box-shadow: 1px 1px 25px;


}

#fineprint {
    text-align:center;
    font-size: 5px;
}

#fineprint:hover{
    .box.margin-left:500px;
    font-size: 22px;
    text-decoration: underline;

}

#remarks {
    font-size: 25px;
    text-align: center;
}






@media only screen and (max-width: 400px) {
    .box {
        margin-left: 10px;
        margin-right: 10px;
    }
    #webpage {
        text-shadow: .5px .5px 15px #E6BBAD;
        font: 10px Verdana;
        background-image: radial-gradient(circle,#BBADE6 , #ADBCE6 , #ffffff );    }

    #contactinfo {
        font-size: 10px
    }

    .list {
        font-size: 15px;
    }

    .listtitle {
        margin-left: 20px;
        font-size: 16px;
        font-weight:bold;
    }

    .title {
        border: 1px solid black;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        text-shadow: 1px 1px px black;
        text-align:center;
        box-shadow: 1px 1px 25px;
    }



    #smalltitle {
        font-size: 17px
    }

    body {
        color:black;
        background-color:white;
    }

    a:link{
        text-decoration: none;
        font: italic;
        font-weight: bold;
        color: blue;
    }

    }

    a:visited {
        text-decoration: none;
        font-weight: bold;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
        color:darkblue;
        font-size: 17px;
    }


    div.listtitle:hover {
        font-size: 17px;
    }

    div.title:hover {
        font-size: 21px;
        text-decoration: bold;
        box-shadow: 1px 1px 25px;
    }

    #fineprint {
        text-align:center;
        font-size: 5px;
    }


    #remarks {
        font-size: 17px;
        text-align: center;
    }



}