:root {
    --font-color: 255, 255, 255;
    --rem: 16px;
    --text-shadow: 2px 3px 5px rgb(0, 0, 0);
    --primary-color: #9bd8ff; 
    --heymyname-animation-duration: 3s;
    --myname-description-delay: 1s;
    --myname-delay: 0s;
    --description-duration: 4s;

}

*, *::selection, *::-moz-selection {
    user-select: none;
}

@keyframes slidein {

    from {

    }
    to {
        filter: blur(0);
        transform: translateX(0);

    }

}

@keyframes slidein-reverse {

    from {

    }
    to {
        filter: blur(15px);
        transform: translateX(-200%);

    }

}

@keyframes textreveal {
    from {
        opacity: 0;
        filter: blur(5rem);
    }
    to {
        opacity: 1;
    }
}

@keyframes openhr {
    from {
        transform: scaleX(0);

    }
    to {
        transform: scaleX(1);
  }
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

body{ 
    margin: 0;
    background: var(--primary-color); /*rgb(162, 201, 240);*/
    /*rgb(41, 42, 43);*/
    font-family: 'Noto Sans SC', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    font-smooth: always;

}

.container {
    display: flex;

}
#landingpagecontainer {
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: clamp(5px, 7vw, 50px);


}

.Portrait img {
    z-index: 2;
     filter: blur(1.5vw);
    transform: translateX(-400%);
    height: clamp(5px, 21.5vw, 500px);
    animation: 3s ease forwards 0s 1 slidein; 
    border-radius: 100%;
    border: solid rgb(255, 255, 255) .2vw;
    transition: height .1s ease;
    
}


.Portrait img:hover {

}



.titletext {
    color: rgb(var(--font-color));
    font-size: 3.5em;
    text-shadow: var(--text-shadow);
    /*text-align: center;*/

}
#hey {
    transform: translateX(-200%);
    font-size: 4vw;
    animation: 3s ease forwards 0s 1 slidein;
    transition: filter 1s ease;
}

#myname {
    transform: translateX(-200%);
    font-size: 4vw;
    animation: 3s ease forwards 1s 1 slidein;
}

#description {
    text-align: left;
    transform: translateX(-200%);
    max-width: 45vw;
    font-size: 2.5vw;
    animation: 4s ease forwards 1s 1 slidein;
}
.fa-solid {
    padding: .2vw;
    font-size: 3em;
    border-radius: 10%;
    transition: all .2s ease;
}

.fa-solid:hover {
    cursor: pointer;
}


#arrows {
    justify-content: space-evenly;
    padding: 5vh;
}

.nextArrow:hover {
}

.previousArrow:hover {
}

#my-projects-container {
    color: rgb(var(--font-color));
    text-shadow: var(--text-shadow);
    margin: 0 auto;
    width: clamp(75vw, 60vw, 1000px);
    border-radius: 3%;
    flex-direction: row;
    padding: 2vw;
    justify-content: center;
    align-items: center;
}


#my-projects-title {
    text-align: center;
    flex: 100%;
    padding: 1em;
}

.project-card {
    justify-content: center;
    align-items: center;
    font-size: clamp(1em,2.2em,3em);
    overflow: hidden;
    aspect-ratio: 9/12;
    width: clamp(10vw,12vw,250px);
    background-color: rgb(209, 209, 248);
    text-align: center;
    padding: 1em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: .7em;
    border-radius: 5%;
    transition: all 1s ease;

}

.my-projects-container:hover {
    color: white;
    color:  #092E20
    position: relative;
}


.project-card:hover {
    border: none;
    position: initial;
    background-color: var(--primary-color);
    transform: scale(1.02);
    filter: blur(0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px , rgba(0, 0, 0, 0.3) 0px 18px 36px -18px ;
    cursor: pointer;

}



.project-card:hover .html{
    filter: blur(20zpx);
}
.project-description{
    display: none;
}

.active-card {
    color: blue;
}

.left-inactive {
    display: block;

    opacity: .5;
    transform: scale(.9);
}

.right-inactive {
    display: block;
    opacity: .5;
    transform: scale(.9);
}

.inactive-card {
    display: none;
    transform: scale(.9);
    position: absolute;
    left: 40%;
    top: 123%;
}

#funfacts-container {
    color: rgb(var(--font-color));
    margin-left: 10vw;
    margin-top: 15vh;
    flex-direction: column;
    padding: 1vw;
    text-shadow: var(--text-shadow);
}

.funfact-item { 
    font-size: 2em;
    filter: blur
    margin-left: 1.2vw;
    padding: 1vw;
    opacity: 0;
    transition: all 1s ease;
}


/* specific class stuff */

hr {
    transform-origin: left;
    transform: scaleX(0);
    border: none;
    height: 2px;
    background-color: rgb(245, 244, 244);
    animation: 2s cubic-bezier(.14,.03,.26,1.01) forwards 4s 1 openhr;
}

a {
    font-style: italic;
}
ul {
    list-style: none;
    padding: 0;
  }
  
li:before {
    content: "- ";
}

