#webpage {
    text-shadow: .5px .5px 2px grey;

    margin-left: 5px;
    font: 17px Verdana;
}

#contactinfo {
    font-size: 12px
}

.list {
    font: Verdana;
    font-size: 15px;

}

.listtitle {
    font-size: 17px;
    font-weight:bold;

}

.title {

    margin: 200px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius:25px;
    background-color:lightblue;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    text-align:center

}

#smalltitle {
    font-size: 23px
}

body {
    color:black;
    background-color:white;
}

a:link{
    text-decoration: none;
    font: italic;
    font-weight: bold;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color:darkblue;
    font-size: 17px;
}

a:visited{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
